h1{
    font-size: 56px;
    text-align: center;
}

button{
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin : auto;
}