h1{
    font-size: 56px;
    text-align: center;
}

h2{
    font-size: 28px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding:auto;
    display: inline-block;
    text-align: left;
    font-size: 24px;
    margin-left:100px;
    margin-right:100px;
}
li{
    float: left;
    margin-left:50px;
    margin-right:50px;
    margin-top: 35px;
}

button{
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin : auto;
}